{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<main>
    <h1>Ласкаво просимо до CRM Системи!</h1>
    <p>Ви успішно увійшли до системи як {{ username }}.</p>
    <p>Тут можна розмістити будь-який корисний вміст, пов'язаний з головною сторінкою.</p>
    <nav>
            <ul>
                <li><a href="/">Головна</a></li>
                <li><a href="/about/">Про нас</a></li>
                <li><a href="/contact/">Контакти</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="./director">Директор</a></li>
                <li><a href="./engineer">Інженер складу</a></li>
                <li><a href="./manager/">Менеджер</a></li>
                <li><a href="./counter/">Бухгалтер</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>© 2023 CRM Система. Усі права захищено.</p>
    </footer>


{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>

  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>

{% endif %}

{% endblock %}