{% extends 'base.html' %}

{% block content %}
    <h1>Деталі клієнта</h1>
    
    <table>
        <tr>
            <td><strong>Ім'я:</strong></td>
            <td>{{ client.first_name }} {{ client.last_name }}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ client.email }}</td>
        </tr>
        <tr>
            <td><strong>Телефон:</strong></td>
            <td>{{ client.phone }}</td>
        </tr>
        <!-- Додайте інші необхідні поля про клієнта -->
    </table>
    
    <a href="{% url 'edit_client' client.id %}">Редагувати</a>
{% endblock %}
