{% extends 'base.html' %}

{% block content %}
    <h1>Список клієнтів</h1>

    <table>
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Email</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.first_name }} {{ client.last_name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
